body {
    background-color: #d0d0d0;
}

h1 {
    color: navy;
    margin-left: 20px;
}

#first-element{
  padding-top: 32px;
}

.jumbotron.clickable-items:hover{
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
}

.jumbotron.clickable-items{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hide-element{
  visibility: hidden;
}

#selected-content{
  position: relative;
  height: 100%;
  width: 100%;
}

#click-space{
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 5;
}

#selected-content-parent{
  background-color: #f8f9fa!important;
  position: absolute;
  z-index: 10;
  left: 0;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  -webkit-box-shadow: 0px 58px 101px 43px rgba(0,0,0,0.55);
-moz-box-shadow: 0px 58px 101px 43px rgba(0,0,0,0.55);
box-shadow: 0px 58px 101px 43px rgba(0,0,0,0.55);
}

.background-blur {
  z-index: 1;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}

#top-nav{
  z-index: 99;
}
